<!-- breadcrum -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/dashboard']">Inicio</a></li>
    <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/cliente']"
        (click)="mostrarFormulario(false, 'Listado')">Clientes</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="accion != ''">{{ accion }}</li>
  </ol>
</nav>

<div class="mt-4"></div>

<div class="container">
  <!-- paginacion y boton para agregar  -->
  <div *ngIf="!form" class="row justify-content-end">
    <button class="btn btn-primary" (click)="mostrarFormulario(true, 'Registrar')"><i class="fas fa-plus"></i>
      Agregar</button>
  </div>

  <div class="mt-2"></div>

  <!-- tabla de listado -->
  <div *ngIf="!form" class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">RUC</th>
          <th scope="col">Razon Social</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" name="ruc" class="form-control" placeholder="Ruc" [(ngModel)]="filtrosTabla.ruc" (keyup.enter)="filtrarTabla($event)">
          </td>
          <td>
            <input type="text" name="razon_social" class="form-control" placeholder="Razon Social" [(ngModel)]="filtrosTabla.razon_social" (keyup.enter)="filtrarTabla($event)">
          </td>
          <td>
            <input type="text" name="telefono" class="form-control" placeholder="Telefono" [(ngModel)]="filtrosTabla.telefono" (keyup.enter)="filtrarTabla($event)">
          </td>
          <td>
            <input type="text" name="direccion" class="form-control" placeholder="Direccion" [(ngModel)]="filtrosTabla.direccion" (keyup.enter)="filtrarTabla($event)">
          </td>
          <td class="text-right">
            <button class="btn btn-round btn-sm btn-danger" (click)="filtrarTabla(null)"><i class="fas fa-times"></i></button> &nbsp;
          </td>
        </tr>
        <tr
          *ngFor="let fila of listaCliente | paginate: { itemsPerPage: porPagina, currentPage: paginaActual, totalItems: total }">
          <td>{{ fila.ruc }}</td>
          <td>{{ fila.razon_social }}</td>
          <td>{{ fila.telefono }}</td>
          <td>{{ fila.direccion }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="getCliente(fila.id)"> <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- paginacion -->
  <div *ngIf="!form" class="row justify-content-center">
    <app-paginacion (actualizarPagina)="paginacion($event)" [datos]="listaPersona" [porPagina]="porPagina"
      [total]="total"></app-paginacion>
  </div>

  <!-- formulario -->
  <form *ngIf="form" class="form-group" novalidate>

    <div *ngIf="mensaje != ''">
      <div class="alert" role="alert" [ngClass]="{'alert-success': success,'alert-danger': !success }">
        {{ mensaje }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <br>

    <div class="row">

      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ruc" name="ruc" [(ngModel)]="cliente.ruc" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="form-group  col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Razon Social" name="razon_social" [(ngModel)]="cliente.razon_social"
            autocomplete="off">
        </mat-form-field>
      </div>

      <div class="form-group  col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Direccion" name="direccion" [(ngModel)]="cliente.direccion" autocomplete="off">
        </mat-form-field>
      </div>

      <div class="form-group  col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Telefono" name="telefono" [(ngModel)]="cliente.telefono" autocomplete="off">
        </mat-form-field>
      </div>

    </div>
    <br>

    <div class="row justify-content-end">
      <button type="button" class="btn btn-danger" (click)="mostrarFormulario(false, 'Listado')"><i
          class="fas fa-times"></i> Cancelar</button> &nbsp;
      <button type="submit" class="btn btn-success">
        <div *ngIf="accion == 'Registrar'" (click)="registrar()">
          <i class="fas fa-save"></i> Guardar
        </div>
        <div *ngIf="accion == 'Actualizar'" (click)="actualizar()">
          <i class="fas fa-save"></i> Actualizar
        </div>
      </button> &nbsp;
    </div>

  </form>


</div>